<header>
    <div class="branding">
        <span><strong>Angular</strong>Template</span>
    </div>

    <ul>
        <li><a href=""><i class="fa fa-cog fa-spin fa-2x"></i></a></li>
        <li><a href=""><i class="fa fa-battery-3 fa-2x"></i></a></li>
    </ul>
    <ul class="pull-right">
        <li uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="fa fa-user fa-2x"></i>
                <span class="badge badge-black">2</span>
            </a>
            <div class="panel animate fade-in-left position" uib-dropdown-menu>
                <div class="panel-heading">Friendship requests</div>
                <div class="panel-body">No request you got</div>
                <div class="panel-footer">See more...</div>
            </div>
        </li>
        <li uib-dropdown>
            <a href=""  uib-dropdown-toggle>
                <i class="fa fa-envelope fa-2x"></i>
                <span class="badge badge-black">7</span>
            </a>
            <div class="panel animate fade-in-down position" uib-dropdown-menu>
                <div class="panel-heading">Messages requests</div>
                <div class="panel-body">No Messages</div>
                <div class="panel-footer">See more...</div>
            </div>
        </li>
        <li uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="fa fa-bell fa-2x"></i>
                <span class="badge badge-black">5</span>
            </a>
            <div class="panel animate fade-in-up position" uib-dropdown-menu>
                <div class="panel-heading">Notification</div>
                <div class="panel-body">No Notifications yet</div>
                <div class="panel-footer">See more...</div>
            </div>
        </li>
                <li class="profile" uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <img class='size-40X40 img-round' src="app/images/luffy.jpg">
                <span class="name">Monkey D Luffy<i class="fa fa-angle-down fa-white"></i></span>
            </a>
            <ul class="animate fade-in-right" uib-dropdown-menu>
                <li onclick='location.href=""'><i class="fa fa-user" aria-hidden="true"></i>Profile</li>
                <li onclick='location.href=""'><i class="fa fa-pencil-square-o"></i>Edit Profile</li>
                <li onclick='location.href=""'><i class="fa fa-cog"></i>Settings</li>
                <li class="divider"></li>
                <li onclick='location.href=""'><i class="fa fa-sign-out "></i>Logout</li>
            </ul>
        </li>
    </ul>


</header>